@*@{
        ViewBag.Title = "صفحه اصلی";
    }
    <div id="main">
        <div id="content">
            <div class="contactbox1 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
                <span>
                    <a href="#">چیزی که تو فکرته بخر</a>
                    <a href="#">یلدای شگفت انگیز</a>
                    <a href="#">امروز در دیجی کالا</a>
                    <a href="#">فرصتی برای هدیه دادن</a>
                    <a href="#">فرصت ویژه</a>

                </span>
                <div class="slide1 wow slideInDown" data-wow-delay="1s" data-wow-duration="1s">

                    <img src="~/img/slider/73416ac7-4cdb-46e5-98b8-a4e9d0199388.jpg" />

                    <img src="~/img/slider/93987add-50f4-41fc-b1ea-f8e2481c4de4.jpg" />

                    <img src="~/img/slider/a1487561-a6bd-4f6e-a7ac-90ae2af20872.jpg" />

                    <img src="~/img/slider/c483f4fc-fbea-421a-9fe6-d6a3c2e65aeb.jpg" />

                    <img src="~/img/slider/de3fc8a1-4a04-4cbd-b3e5-51ee8c45f524.jpg" />
                </div>
            </div>
            <div class="contactbox2 wow slideInDown" data-wow-delay="0.5s" data-wow-duration="1s">
                <div>
                    <img src="~/img/contantbox2/ico-usp-1.png" />
                    <a href="#">7 روز زمانت بازگشت </a>
                </div>
                <div>
                    <img src="~/img/contantbox2/ico-usp-2.png" />
                    <a href="#">پرداخت در محل</a>
                </div>
                <div>
                    <img src="~/img/contantbox2/ico-usp-3.png" />
                    <a href="#">زمانت اصل بودن کالا</a>
                </div>
                <div>
                    <img src="~/img/contantbox2/ico-usp-4.png" />
                    <a href="#">تحویل اکسپرس</a>
                </div>
                <div>
                    <img src="~/img/contantbox2/ico-usp-5.png" />
                    <a href="#">تضمین بهترین قیمت</a>
                </div>


            </div>






    <!--toggle boxes-->
            <div id="accordion">
                <div class="panel panel21">
                    <button class="btn btn-primary div1" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <i class="fa fa-stethoscope"></i>
                        <h1>مراحل ثبت سفارش</h1>
                    </button>
                    <button class="btn btn-warning div1 " data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <i class="fa fa-medkit"></i>
                        <h1>مراحل ثبت سفارش</h1>
                    </button>
                    <button class="btn btn-success div1 " data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        <h1>مراحل ثبت سفارش</h1>
                    </button>
                    <button class="btn btn-danger div1 " data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        <h1>مراحل ثبت سفارش</h1>
                    </button>
                    <div id="collapse1" class="collapse-setting collapse out">

                            برای ثبت سفارش در سایت درمان کالا، در ابتدا شما باید کالای مورد نظر خود را پیدا کنید.
                            برای این کار، میتوانید به هرکدام از دسته بندی های "تجهیزات پزشکی خانگی"، "تجهیزات پزشکی حرفه ای"،
                            "مواد مصرفی پزشکی" یا "محصولات بهداشتی"، که در کادر بالای تمام صفحات سایت درمان کالا موجود میباشند
                            مراجعه کنید و از زیر دسته های باز شده، زیردسته ی مورد نظر خود را انتخاب کنید و در آن به جستجوی
                            محصول مورد نظر خود بپردازید. راه ساده تر؛ در کادر جستجوی بالای صفحات (شماره ی 1)، نام یا قسمتی
                            از نام محصول مورد نظر را تایپ کنید و از گزینه های مطرح شده، بر روی کالای مورد نظر خود کلیک کنید.

                    </div>
                </div>
                <div class="panel panel21">
                    <div id="collapse2" class="collapse-setting collapse">

                            برای ثبت سفارش در سایت درمان کالا، در ابتدا شما باید کالای مورد نظر خود را پیدا کنید.
                            برای این کار، میتوانید به هرکدام از دسته بندی های "تجهیزات پزشکی خانگی"، "تجهیزات پزشکی حرفه ای"،
                            "مواد مصرفی پزشکی" یا "محصولات بهداشتی"، که در کادر بالای تمام صفحات سایت درمان کالا موجود میباشند
                            مراجعه کنید و از زیر دسته های باز شده، زیردسته ی مورد نظر خود را انتخاب کنید و در آن به جستجوی
                            محصول مورد نظر خود بپردازید. راه ساده تر؛ در کادر جستجوی بالای صفحات (شماره ی 1)، نام یا قسمتی
                            از نام محصول مورد نظر را تایپ کنید و از گزینه های مطرح شده، بر روی کالای مورد نظر خود کلیک کنید.

                    </div>
                </div>
                <div class="panel panel21">
                    <div id="collapse3" class="collapse-setting collapse">

                            برای ثبت سفارش در سایت درمان کالا، در ابتدا شما باید کالای مورد نظر خود را پیدا کنید.
                            برای این کار، میتوانید به هرکدام از دسته بندی های "تجهیزات پزشکی خانگی"، "تجهیزات پزشکی حرفه ای"،
                            "مواد مصرفی پزشکی" یا "محصولات بهداشتی"، که در کادر بالای تمام صفحات سایت درمان کالا موجود میباشند
                            مراجعه کنید و از زیر دسته های باز شده، زیردسته ی مورد نظر خود را انتخاب کنید و در آن به جستجوی
                            محصول مورد نظر خود بپردازید. راه ساده تر؛ در کادر جستجوی بالای صفحات (شماره ی 1)، نام یا قسمتی
                            از نام محصول مورد نظر را تایپ کنید و از گزینه های مطرح شده، بر روی کالای مورد نظر خود کلیک کنید.

                    </div>
                </div>
                <div class="panel panel21">
                    <div id="collapse4" class="collapse-setting collapse">

                            برای ثبت سفارش در سایت درمان کالا، در ابتدا شما باید کالای مورد نظر خود را پیدا کنید.
                            برای این کار، میتوانید به هرکدام از دسته بندی های "تجهیزات پزشکی خانگی"، "تجهیزات پزشکی حرفه ای"،
                            "مواد مصرفی پزشکی" یا "محصولات بهداشتی"، که در کادر بالای تمام صفحات سایت درمان کالا موجود میباشند
                            مراجعه کنید و از زیر دسته های باز شده، زیردسته ی مورد نظر خود را انتخاب کنید و در آن به جستجوی
                            محصول مورد نظر خود بپردازید. راه ساده تر؛ در کادر جستجوی بالای صفحات (شماره ی 1)، نام یا قسمتی
                            از نام محصول مورد نظر را تایپ کنید و از گزینه های مطرح شده، بر روی کالای مورد نظر خود کلیک کنید.

                    </div>
                </div>
            </div>
    <!--end toggle boxes-->






        <div class="contactbox3 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <div class="divleftcont">
                <a href="#" style=" color: #FFFFFF;      background-color: #FF5050;">Camelion Digi Alkaline Pack</a>
                <a href="#">Jabra Talk </a>
                <a href="#">مجموعه 23 تایی پیچ گوشتی فاکس </a>
                <a href="#">بند رخت میلن </a>
                <a href="#">AEG Voxtel D151 Phone</a>
                <a href="#">Mifa Portable Bluetooth Speaker</a>
                <a href="#"> Babyliss D302E Hair Dryer </a>
                <a href="#"> دارت سوزنی Lanao </a>
                <a href="#"> سرشعله کمپسور </a>
                <a href="#">   جاکلیدی گالری آسوریک </a>


            </div>
            <div class="divrightcont">
                <div class="slide2">
                    <img src="~/img/slider3/8f116b82-359e-4a74-b84d-3a92abaaa59a.jpg" />
                    <img src="~/img/slider3/40d218e4-6e85-4e4d-88e0-814a253c6780.jpg" />
                    <img src="~/img/slider3/2a7c5233-4e7f-40e9-881b-f7322691eb63.jpg" />
                    <img src="~/img/slider3/212a2d8c-5e09-407a-8c68-f79492c54100.jpg" />
                    <img src="~/img/slider3/0897c88d-3560-4f97-8e49-67c5a7a1be88.jpg" />
                    <img src="~/img/slider3/0347b51f-5380-49ef-93e4-294eb8061897.jpg" />
                </div>
            </div>

        </div>
        <div class="contactbox4 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <div class="shortcut">
                <img src="~/img/img sid/0838f7b4-61e5-4140-a88d-8e37c16d9606.jpg" /><span></span>

                <a href="#">دیوان حافظ شیرازی</a>
            </div>
            <div class="shortcut">
                <img src="~/img/img sid/10a34967-2411-42f8-885b-2badc88a7624.jpg" /><span></span><a href="#">دیوان حافظ شیرازی</a>
            </div>
            <div class="shortcut">
                <img src="~/img/img sid/3260d8b3-41d9-47e6-9cbd-795b74fc8361.jpg" /><span></span><a href="#">دیوان حافظ شیرازی</a>
            </div>
            <div class="shortcut">
                <img src="~/img/img sid/3a8427dc-fba9-4639-bf91-1ff03bf05365.jpg" /><span></span><a href="#">دیوان حافظ شیرازی</a>
            </div>
            <div class="shortcut">
                <img src="~/img/img sid/7a211f74-3941-486d-a652-d2c37af09039.jpg" /><span></span><a href="#">دیوان حافظ شیرازی</a>
            </div>
            <div class="shortcut">
                <img src="~/img/img sid/93e0efcd-f2b2-4905-a6c7-53811ef0c3f9.jpg" /><span></span><a href="#">دیوان حافظ شیرازی</a>
            </div>
            <div class="shortcut">
                <img src="~/img/img sid/ba89e757-d96d-4449-abc0-4816f8f52721.jpg" /><span></span><a href="#">دیوان حافظ شیرازی</a>
            </div>
            <div class="shortcut">
                <img src="~/img/img sid/f3773853-d582-4f67-bd9c-b8800e31c091.jpg" /><span></span><a href="#">دیوان حافظ شیرازی</a>
            </div>

        </div>
        <div class="contactbox5 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <div class="horizontalbox">
                <a href="#" class="htextright">محبوب ترین کالا ها</a>
                <a href="#" class="htextleft">
                    <i class="fa fa-plus" style="font-size: 11px"></i>&nbsp;&nbsp;
                    لیست کامل
                </a>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Tablet-Lenovo-IdeaTab-A3000-Dual-SIM-3G-16GBb541c0.jpg" />
                </div>
                <div class="textcontbox4"><a href="#"> IdeaTab A3000 Dual </a> </div>
                <div class="pricecont">419,000  تومان  <img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Mobile-HTC-One-M85bcb35.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">HTC One M8 - 16GB Mobile </a> </div>
                <div class="pricecont"> 1,499,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Mobile-Samsung-Galaxy-S3-I9300I-Dual-SIM0102e8.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy S3 Neo </a></div>
                <div class="pricecont"> 630,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Mobile-Samsung-Galaxy-S-Duos-2-S7582acef5f.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy S Duos 2  </a></div>
                <div class="pricecont"> 1,300,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Tablet-Samsung-Galaxy-Note-101-2014-Edition-3G-16GB68dc20.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy Note 10.1  </a></div>
                <div class="pricecont"> 1,569,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>


        </div>
        <div class="contactbox5 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <div class="horizontalbox">
                <a href="#" class="htextright">پروفروش ترین کالا ها</a>
                <a href="#" class="htextleft">
                    <i class="fa fa-plus" style="font-size: 11px"></i>&nbsp;&nbsp;
                    لیست کامل
                </a>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Tablet-Lenovo-IdeaTab-A3000-Dual-SIM-3G-16GBb541c0.jpg" />
                </div>
                <div class="textcontbox4"><a href="#"> IdeaTab A3000 Dual </a> </div>
                <div class="pricecont">419,000  تومان  <img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Heater-Pars-Khazar-FH2000P3d52e1.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">HTC One M8 - 16GB Mobile </a> </div>
                <div class="pricecont"> 1,499,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Music-Album-Ava-Khorshid-Morteza-Ahmadi-Sedaye-Tehrun-e-Ghadim-3fc3024.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy S3 Neo </a></div>
                <div class="pricecont"> 630,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Hair-Trimmer-Panasonic-ES-SL41b60f82.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy S Duos 2  </a></div>
                <div class="pricecont"> 1,300,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Tablet-Samsung-Galaxy-Note-101-2014-Edition-3G-16GB68dc20.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy Note 10.1  </a></div>
                <div class="pricecont"> 1,569,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
        </div>
        <div class="contactbox5 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <div class="horizontalbox">
                <a href="#" class="htextright">جدید ترین  کالا ها</a>
                <a href="#" class="htextleft">
                    <i class="fa fa-plus" style="font-size: 11px"></i>&nbsp;&nbsp;
                    لیست کامل
                </a>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Computer-HDD-Silicon-Armor-A80-1TB030b68.jpg" />
                </div>
                <div class="textcontbox4"><a href="#"> IdeaTab A3000 Dual </a> </div>
                <div class="pricecont">419,000  تومان  <img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Music-Pouya-Hajili-Reflection-Dream7e0daf.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">HTC One M8 - 16GB Mobile </a> </div>
                <div class="pricecont"> 1,499,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Mobile-Samsung-Galaxy-S3-I9300I-Dual-SIM0102e8.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy S3 Neo </a></div>
                <div class="pricecont"> 630,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Mobile-Samsung-Galaxy-S-Duos-2-S7582acef5f.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy S Duos 2  </a></div>
                <div class="pricecont"> 1,300,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
            <div class="contbox4main">
                <div class="contbox4mainimg">
                    <img src="~/img/slid4/Coffee-Maker-Hardstone-CM240129a094.jpg" />
                </div>
                <div class="textcontbox4"><a href="#">Samsung Galaxy Note 10.1  </a></div>
                <div class="pricecont"> 1,569,000  تومان<img src="~/img/slid4/available-badge-small.png" class="pricecontimg" /></div>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div class="sidbarbox1 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <svg width="290" height="265">

                <circle class="top" cx="145" cy="130" r="40" fill="yellow" />




            </svg>

            <a href="#">
                <img src="~/img/img sid left/20df532b-a595-401d-bd32-0751baab3646.jpg" />
            </a>

        </div>
        <div class="sidbarbox1 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <a href="#">
                <img src="~/img/img sid left/3271bc27-3169-4b58-9398-61429c72159f.jpg" />
            </a>
        </div>
        <div class="sidbarbox1 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <a href="#">
                <img src="~/img/img sid left/89c06e5f-3fc1-4f1e-a58f-81c25e019519.jpg" />
            </a>
        </div>
        <div class="sidbarbox2 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <div class="horizontalbox">
                <a href="#" class="htextright htextrightsidbar">محبوب ترین کالا ها</a>

            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/auydwkqyw3h24dgpv7sx-90x60.jpg" />
                <a href="#">   7 راهکار علمی که یک روز بد را به یک روز خوب تبدیل کنید</a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>

            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/happy-bad-day2-90x60.jpg" />
                <a href="#">  کونامی کوتاه نمی‌آید؛ ساخت متال گیر جدید بدون کوجیما</a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>
            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/huawei-90x60.jpg" />
                <a href="#">
                    فردا بزرگ‌ترین حراج آنلاین فروشگاه ایکس‌باکس آغاز می‌شود
                </a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>
            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/iphone_6s_1-90x60.jpg" />
                <a href="#">  هواوی می‌خواهد خودش پردازنده‌ی گرافیکی و حافظه‌ی فلش بسازد</a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>
            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/memorable-picture-90x60.jpg" />
                <a href="#">   آلودگی هوا نفس شب یلدا را هم برید</a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>
            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/MGS4-90x60.jpg" />
                <a href="#">  ۲۵ درصد گوشی‌های سال آینده از صفحه نمایش حساس به‌فشار بهره می‌برند</a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>
            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/Pollution_822-90x60.jpg" />
                <a href="#">  با این نرم‌افزار یک تصویر پروفایل به یاد ماندنی انتخاب کنید</a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>
            </div>
            <div class="sidbarcantzer">
                <img src="~/img/sidnews/Xbox-One-90x60.jpg" />
                <a href="#">  چگونه در Word جدول الگوی خودتان را بسازید</a>

                <div class="textmini">دوشنبه 30 آذر 1394</div>
            </div>
            <div class="horizontalbox horizontalboxbot">
                <a href="#" class="htextright bluetext"> &nbsp;&nbsp;  <i class="fa fa-plus" style="font-size: 11px"></i> مشاهده خبر های بیشتر</a>

            </div>
        </div>
        <div class="sidbarbox3 wow slideInDown" data-wow-delay="0.1s" data-wow-duration="1s">
            <a href="#">
                <img src="~/img/namad2.png" />
            </a>
        </div>
    </div>


    </div>*@